*{
    box-sizing:border-box;
    margin:0px;
}
.main{
    height:40%;
    background-color: green;
}
.sidebar{
    height:40%;
    width: 100%;;
    background-color:red;
    display:flex
}
